<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="ISO-8859-1">
    <title>ConferenceRoom Management System</title>
    <link crossorigin="anonymous"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
          rel="stylesheet">
</head>
<body>
<nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <!-- Brand -->
    <a class="navbar-brand" href="#">ConferenceRoom Management System</a>

    <!-- Toggler/collapsibe Button -->
    <button class="navbar-toggler" data-target="#collapsibleNavbar" data-toggle="collapse" type="button">
        <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Navbar links -->
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link" th:href="@{/conferencerooms}">ConferenceRoom Management</a>
            </li>
        </ul>
    </div>
</nav>
<br>
<br>
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 container justify-content-center card">
            <h1 class="text-center"> Create New ConferenceRoom </h1>
            <div class="card-body">
                <form method="POST" th:action="@{/conferencerooms}" th:object="${conferenceroom}">
                    <div class="form-group">
                        <label> ConferenceRoom Name </label>
                        <input class="form-control"
                               name="name"
                               placeholder="Enter ConferenceRoom Name"
                               th:field="*{name}"
                               type="text"
                        />
                    </div>
                    <div class="form-group">
                        <label> ConferenceRoom Identifier </label>
                        <input class="form-control"
                               name="identifier"
                               placeholder="Enter ConferenceRoom Identifier"
                               th:field="*{identifier}"
                               type="text"
                        />
                    </div>
                    <div class="form-group">
                        <label> ConferenceRoom Availability </label>
                        <input class="form-control"
                               name="availability" placeholder="Enter ConferenceRoom Availability"
                               th:field="*{availability}"
                               type="text"
                               value="Bike"
                        />
                    </div>
                    <div class="form-group">
                        <label> ConferenceRoom NumberOfSeats </label>
                        <input class="form-control"
                               name="numberOfSeats"
                               placeholder="Enter ConferenceRoom numberOfSeats"
                               th:field="*{numberOfSeats}"
                               type="number"
                        />
                    </div>

                    <div class="form-group">
                        <label> ConferenceRoom NumberOfSeats </label>
                        <select id="cars" name="cars">
                            <option value="volvo">${availability}</option>
                            <option value="saab">????</option>
                            <option value="fiat">????</option>
                            <option value="audi">????</option>
                        </select>
                    </div>
                    <div>

                        <select id="availability" name="availability">
                            <list as frLang fromLang>
                                <option>${availability}</option>
                            </list>
                        </select>

                    </div>
                    <div class="box-footer">
                        <button class="btn btn-primary" type="submit">
                            Submit
                        </button>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>
</body>
</html>